.input-group {
    margin: 20px 0px;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

td:first-of-type {
    height: 120px;
    width: 250px;
}

.units {
    margin-left: 2px;
}